<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="12.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ItemGroup>
    <Content Include="..\packages\Microsoft.TeamFoundationServer.ExtendedClient.16.170.0\lib\native\x86\Microsoft.WITDataStore32.dll">
      <Link>Microsoft.WITDataStore32.dll</Link>
      <CopyToOutputDirectory>Always</CopyToOutputDirectory>
    </Content>
  <Content Include="..\packages\Microsoft.TeamFoundationServer.ExtendedClient.16.170.0\lib\native\amd64\Microsoft.WITDataStore64.dll">
	<Link>Microsoft.WITDataStore64.dll</Link>
    <CopyToOutputDirectory>Always</CopyToOutputDirectory>
  </Content>
  </ItemGroup>
</Project>